.hero {
  height: 600px;
  position: relative;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
